" --- Core Settings ---
let mapleader=" "
set timeoutlen=2000
set showcmd
set scrolloff=5
set incsearch
set surround
set ideajoin
set argtextobj
set clipboard+=unnamedplus
set anyobject
set hlsearch
set ignorecase
set smartcase
" Don't use Ex mode, use Q for formatting.
map Q gq
nnoremap <Esc> :nohlsearch<cr>

" --- Plugins ---
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'


" Move single lines up/down in Normal Mode
nnoremap J :m +1<CR>==
nnoremap K :m -2<CR>==

" Move blocks of lines up/down in Visual Mode
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

" Flash search
nmap s <Action>(flash.search)
xmap s <Action>(flash.search)

" Jump to next snippet/parameter
nnoremap <Tab> :action NextParameter<CR>

" Navigate IDE popups
inoremap <C-j> <Down>
inoremap <C-k> <Up>
cnoremap <C-j> <Down>
cnoremap <C-k> <Up>

" Increment/Decrement
nnoremap <C-a> :DialIncrement<cr>
nnoremap <C-x> :DialDecrement<cr>

" --- Window & Tab Management ---
" Native Vim Splits
nnoremap <leader>v :vsplit<CR>
nnoremap <leader>h :split<CR>

" Navigate splits
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" Close current tab
nnoremap <C-q> :action CloseContent<CR>

" Hide all tool windows and maximize the editor (Toggle)
nnoremap <leader>wm :action HideAllWindows<CR>

" --- Code Navigation ---
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap <leader>gy :action GotoTypeDeclaration<CR>
nnoremap gu :action FindUsages<CR>
nnoremap <leader>fu :action FindUsages<CR>
nnoremap <leader>su :action ShowUsages<CR>
nnoremap <A-]> :action MethodDown<CR>
nnoremap <A-[> :action MethodUp<CR>
nnoremap ]e :action GotoNextError<CR>
nnoremap [e :action GotoPreviousError<CR>
nnoremap <leader>p :action ActivateProblemsViewToolWindow<CR>
nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fc :action GotoClass<CR>
nnoremap <leader>fm :action GotoSymbol<CR>
nnoremap <leader>fp :action SelectInProjectView<CR>
nnoremap <leader>fn :action NewScratchFile<CR>
nnoremap <leader>af :action NewFile<CR>
nnoremap <leader>ad :action NewDir<CR>

" Keep selection after indenting
xnoremap < <gv
xnoremap > >gv

" Center the screen when jumping through search results
nnoremap n nzzzv
nnoremap N Nzzzv


" --- Code Editing & Refactoring ---
nnoremap <leader>rn :action RenameElement<CR>
nnoremap <leader>rc :action ReformatCode<CR>
nnoremap <leader>ro :action OptimizeImports<CR>
nnoremap <leader>ra :action RearrangeCode<CR>
nnoremap <A-j> :action MoveStatementDown<CR>
nnoremap <A-k> :action MoveStatementUp<CR>
nnoremap <leader><CR> :action ShowIntentionActions<CR>
nnoremap <leader>n :action Generate<CR>
nnoremap <leader>sw :action SurroundWith<CR>
nnoremap <C-d> :action EditorDuplicate<CR>
vnoremap <C-d> :action EditorDuplicate<CR>
" Open the 'Refactor This' menu (Context-aware refactoring options)
nnoremap <leader>rf :action Refactorings.QuickListPopupAction<CR>

" --- Search & Replace ---
" f = Find, r = Replace, sf = Search Files, sr = Search/Replace in Files
nnoremap <leader>fi :action Find<CR>
nnoremap <leader>ri :action Replace<CR>
nnoremap <leader>sf :action FindInPath<CR>
nnoremap <leader>sr :action ReplaceInPath<CR>
nnoremap <leader>fs :action FileStructurePopup<CR>
" --- Run & Debug ---
nnoremap <leader>ru :action Run<CR>
nnoremap <leader>st :action Stop<CR>
nnoremap <leader>d :action Debug<CR>
nnoremap <leader>c :action ChooseRunConfiguration<CR>
nnoremap <leader>b :action ToggleLineBreakpoint<CR>
nnoremap <leader>B :action ViewBreakpoints<CR>
nnoremap <leader>mb :action XDebugger.MuteBreakpoints<CR>

" --- Git Integration ---
nnoremap ]c :action VcsShowNextChangeMarker<CR>
nnoremap [c :action VcsShowPrevChangeMarker<CR>
nnoremap <leader>gr :action ChangesView.Revert<CR>
nnoremap <leader>gu :action Vcs.RollbackChangedLines<CR>
nnoremap <leader>gc :action CheckinProject<CR>
nnoremap <leader>gh :action Vcs.ShowTabbedFileHistory<CR>
nnoremap <leader>gb :action Annotate<CR>
nnoremap <leader>gp :action Vcs.Push<CR>
nnoremap <leader>gl :action Vcs.UpdateProject<CR>
" --- Tabless Buffer Navigation ---

" Open Recent Files popup (The absolute core of a tabless workflow)
nnoremap <leader>e :action RecentFiles<CR>
nnoremap <C-e> :action RecentFiles<CR>

" Open Recent Locations popup (Shows the actual code snippets you recently edited)
nnoremap <leader>E :action RecentLocations<CR>
nnoremap <C-S-e> :action RecentLocations<CR>
" Override methods from a superclass (Equivalent to Ctrl+O)
nnoremap <leader>o :action OverrideMethods<CR>

" Implement methods from an interface (Equivalent to Ctrl+I)
nnoremap <leader>i :action ImplementMethods<CR>

" Open and focus the Terminal window
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>